<%= form_for(:session, url: login_url) do |f| %>
  <div>
    <%= f.label(:name, 'Username: ') %>
    <%= f.text_field(:name) %>
    </div>

    <div>
      <%= f.label(:password, 'Password: ') %>
      <%= f.password_field(:password) %>
    </div>

    <div>
      <%= f.submit('Login', class: 'button') %>
    </div>

    <div><%= link_to "Registrieren", new_thinker_path %> | Passwort vergessen?</div>
<% end %>