<header class="siteheader">
  <nav class="navigation">
    <span class="navigation-opener burger icon-align-justify"></span>
    <ul>
      <% if is_logged_in? %>
          <li><%= link_to('New Thought', new_thinker_thought_path(session[:current_user])) %></li>
      <% end %>
      <li>Messages</li>
      <li>Recommendations</li>
      <li>Recommendations</li>
      <li>Recommendations</li>

    </ul>
  </nav>

  <div class="logo">
    <h1><%= link_to '<span class="icon-shower"></span> Thoughts'.html_safe, root_path %></h1>
  </div>

  <nav class="usermenu">
    <% if is_logged_in? %>
        <span class="usermenu-opener burger icon-user"></span>
        <ul>
          <li><%= render 'sessions/logout' %></li>
          <li><%= link_to 'Edit Profile', edit_thinker_path(session[:current_user]) %></li>
        </ul>
    <% else %>
        <%= render 'sessions/login' %>
    <% end %>
  </nav>
</header>