<div class="feed">
  <%= render "partials/thought" %>
  <%= render "partials/thought" %>
  <%= render "partials/thought" %>
  <%= render "partials/thought" %>
  <%= render "partials/thought" %>
  <%= render "partials/thought" %>

</div>