<% if @thinker.errors.any? %>
    <div class="error">
      <ul>
        <% @thinker.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_tag(:thinkers, url: thinkers_path) do %>
    <div>
      <%= label_tag(:name, 'Username:') %>
      <%= text_field_tag(:name) %>
    </div>

    <div>
      <%= label_tag(:email, 'Email: ') %>
      <%= email_field_tag(:email) %>
    </div>

    <div>
      <%= label_tag(:password, 'Password: ') %>
      <%= password_field_tag(:password) %>
    </div>

    <div>
      <%= label_tag(:password_confirmation, 'Repeat Password: ') %>
      <%= password_field_tag(:password_confirmation) %>
    </div>

    <div>
      <%= submit_tag('Register', class: 'button register') %>
    </div>
<% end %>