<%= render 'partials/errors', errors: @thinker.errors %>

<%= form_for(@thinker, url: thinkers_path) do |f| %>
    <div>
      <%= f.label(:name, 'Username:') %>
      <%= f.text_field(:name) %>
    </div>

    <div>
      <%= f.label(:email, 'Email: ') %>
      <%= f.email_field(:email) %>
    </div>

    <div>
      <%= f.label(:password, 'Password: ') %>
      <%= f.password_field(:password) %>
    </div>

    <div>
      <%= f.label(:password_confirmation, 'Repeat Password: ') %>
      <%= f.password_field(:password_confirmation) %>
    </div>

    <div>
      <%= f.submit('Register', class: 'button register') %>
    </div>
<% end %>