<div class="userinfo">
  <div class="photo">
    <%= image_tag("david-tennant", :alt => "David Tennant") %>
  </div>
  <div class="name"><%= @thinker.name %></div>
  <div class="metadata"><%= "#{@thinker.profession}, " %><%= "#{@thinker.age}, " %><%= "#{@thinker.city}, " %></div>
  <div class="follwers">100k Followers, 100k Thoughts</div>
</div>