<!DOCTYPE html>
<html>
  <head>
    <title>Thoughts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
  </head>

  <body class="noscript">
  <%= yield :body_start %>

    <%= render "partials/siteheader" %>

    <div class="site-container">
      <div class="site">
        <%= yield %>
      </div>
    </div>


  <%= render "partials/sitefooter" %>

    <%= yield :body_end %>
  </body>
</html>
